<div class="card position-fixed chat" *ngIf="user" style="width: 100vw; height: 100vh;">
  <em class="bg-light"> <small>Connected on Room {{ this.user.room }}</small> </em>
  
  <div class="card text-break py-1 px-2 my-1 mx-2" *ngFor="let msg of messages"
    style="width: fit-content;max-width: 200px;">
      <small *ngIf="user.name">{{ msg.username }}</small>
      {{ msg.message }}
  </div>

  <form class="fixed-bottom m-0 bg-light">
    <div class="row m-0 pl-3 pr-3">
      <input class="form-control col-10" type="text" #text (keyup.enter)="sendMsg(text)">
      <button class="btn btn-success col-2 m-0" type="button" (click)="sendMsg(text)">
        <i class="material-icons">
          send
        </i>
      </button>
    </div>
  </form>
</div>

