<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">forChatt</a>
  <button class="btn m-0 navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" 
        aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="material-icons">menu</span>
  </button>

  <div class="collapse navbar-collapse" id="menu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Room 1 <span class="badge badge-light">2/2</span></a>
        
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Room 1 <span class="badge badge-light">2/2</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Room 1 <span class="badge badge-light">2/2</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Room 1 <span class="badge badge-light">2/2</span></a>
      </li>
    </ul>
  </div>
</nav>